{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'income:income' %}">Income</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Income</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
      <div class="col-md-7">
      <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-info float-right mt-2" type="submit" name="add-expenses-form">
      </form>
      </div>
    </div>
</div>
{% endblock %}